In [1]:
# import modules
import numpy as np
import pandas as pd

In [15]:
# read dataset
data = pd.read_csv('C:/Users/adm/Documents/Python Scripts/Dataset/winequality_clean.csv')

In [16]:
data.head()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2

As you can see this dataset has discrete levels in the output variable (quality). So rather than predicting a continuous output, we will be more interested in classifying the unseen data into any one of these discrete levels (generally). This is the classification task for which Logistic Regression is used.

## Building a Logistic Regression

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
# separate dependent and independent variables
X = data.drop(['ID', 'quality'], axis=1)
y = data.quality

In [19]:
X.isnull().sum()

fixed acidity             0
volatile acidity          0
citric acid             733
residual sugar            0
chlorides                 0
free sulfur dioxide       0
total sulfur dioxide      0
density                   0
pH                      844
sulphates               723
alcohol                   0
dtype: int64

In [20]:
X['sulphates']

0       0.45
1        NaN
2        NaN
3       0.40
4       0.40
5       0.44
6       0.47
7       0.45
8        NaN
9       0.45
10      0.56
11      0.53
12      0.63
13      0.52
14      0.67
15      0.55
16      0.36
17      0.39
18      0.53
19      0.50
20      0.39
21      0.35
22      0.48
23       NaN
24      0.47
25      0.50
26      0.44
27      0.53
28      0.49
29      0.71
        ...
4868     NaN
4869    0.51
4870    0.36
4871    0.55
4872    0.60
4873    0.52
4874    0.49
4875     NaN
4876    0.59
4877    0.36
4878    0.35
4879    0.50
4880     NaN
4881    0.50
4882     NaN
4883    0.35
4884    0.50
4885    0.50
4886    1.08
4887     NaN
4888    0.54
4889     NaN
4890    0.44
4891    0.46
4892    0.54
4893    0.50
4894     NaN
4895    0.46
4896    0.38
4897    0.32
Name: sulphates, Length: 4898, dtype: float64

In [24]:
# fill missing vales
X.fillna(X.mean(), inplace=True)

In [25]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

# define logistic regression
logReg = LogisticRegression()

# train model
logReg.fit(X_train, y_train)

# get predictions
pred = logReg.predict(X_test)

from sklearn.metrics import accuracy_score

# get accuracy
accuracy_score(y_test, pred)

0.7418367346938776

In [34]:
from sklearn.cross_validation import cross_val_score
CVscore=cross_val_score(LogisticRegression().fit(X, y),X_train,y_train,cv=10)
print(CVscore)
print(CVscore.mean())

[0.75       0.72704082 0.75510204 0.72193878 0.74234694 0.79081633
 0.77040816 0.71683673 0.7372449  0.72564103]
0.7437375719518576

#to remove spaces in col names
df1.columns = [c.replace(' ', '_') for c in df1.columns]