# Sets

A set is an unordered collection of unique elements. You can think of them as dicts, but without values. 

You can create a set using either the set function or by listing all the elements within curly braces.

If you check the object’s type, you can see that it shows up as a set. To view the set, type its name. Note that ‘BMW’ and ‘GM’ which are mentioned twice, appear only once, since a set contains only unique elements.

In [22]:
#Create a set
auto_survey = set(['Audi', 'BMW', 'BMW', 'Ferrari', 'GM', 'Mercedes', 'Chervolet', 'GM'])

In [23]:
#View the set
auto_survey

{'Audi', 'BMW', 'Chervolet', 'Ferrari', 'GM', 'Mercedes'}

In [24]:
auto_survey_set = {'Audi', 'BMW', 'BMW', 'Ferrari', 'GM', 'Mercedes', 'Chervolet', 'GM'}

In [25]:
type(auto_survey_set)

set

In [26]:
#View the set
auto_survey_set

{'Audi', 'BMW', 'Chervolet', 'Ferrari', 'GM', 'Mercedes'}

In [27]:
auto_survey_set1 = {'Audi', 'BMW', 'BMW', 'Ferrari', 'GM', 'Mercedes', 'Chervolet', 'GM', 'Toyota'}
auto_survey_set2 = {'Audi', 'BMW', 'Hyundai', 'Ferrari', 'Kiya','Ford', 'Mercedes', 'Chervolet', 'GM', 'Toyota', 'Zen'}

In [28]:
#OR – Union set operation
combined_survey_report = auto_survey_set1 | auto_survey_set2
print (combined_survey_report)

{'Kiya', 'Hyundai', 'Ford', 'Chervolet', 'GM', 'Audi', 'Ferrari', 'Zen', 'BMW', 'Mercedes', 'Toyota'}

In [29]:
#AND – Intersection set operation
combined_survey_report = auto_survey_set1 & auto_survey_set2
print (combined_survey_report)

{'Ferrari', 'Audi', 'BMW', 'Mercedes', 'Toyota', 'Chervolet', 'GM'}

data structure is way for data collection.

tuples,list,dict and set are basic data structures in python. 

tuples - for one dimensional and values can't be modfied. 

list - mixed type and values can be modifed. 

dict - stores value in the form of key-value pair

set - stores only unique values..

these are few preferences when it comes to choose the best fit for difference use cases.

# Functions

In [1]:
def my_first_function(name):
    return name

my_first_function ('Sonal')
# print (my_first_function ('Sonal'))

'Sonal'

In [2]:
def add_two_numbers(num1,num2):
    return (num1 + num2)

number1 = 2
number2 = 5
result = add_two_numbers(number1,number2)
print (result)

7

# Built-in Sequence Functions

### Enumerate

In [3]:
store_list = ['MacDonalds', 'Taco Bell', 'Dunkin Donuts', 'Wendys', 'Chiptole'] #List of food stores

In [4]:
#Print data element and index using enumerate method 
for position, name in enumerate(store_list):
    print (position, name)

0 MacDonalds
1 Taco Bell
2 Dunkin Donuts
3 Wendys
4 Chiptole

#Print data element and index using enumerate method 
for a, b in enumerate(store_list):
    print (a, b)

### Sorted

In [5]:
#Sort numbers
sorted([81,29,54,37,8,27,65])

[8, 27, 29, 37, 54, 65, 81]

In [6]:
#Sort a string value
sorted('the data scientist')

[' ',
 ' ',
 'a',
 'a',
 'c',
 'd',
 'e',
 'e',
 'h',
 'i',
 'i',
 'n',
 's',
 's',
 't',
 't',
 't',
 't']

# Control Flow: if, elif, else

In [7]:
age = 21

In [8]:
if age < 18:
    print ('minor')
else:
    print ('adult')

adult

In [10]:
#Nested if, elif and else
marks = 70

if marks > 90:
    print ('grade A')
elif 80<marks<=90:
    print ('grade B')
elif 70<marks<=80:
    print ('grade C')
elif 60<=marks<=70:
    print ('grade D')
else:
    print ('grade F')

grade D

# Control Flow: “for” Loops
A “for” loop is used to iterate over a collection (like a list or tuple) or an iterator.

In [11]:
stock_ticker = ['AAPL', 'MSFT', 'GOOGLE', None, 'AMZN', 'ORCL']

In [12]:
#For loop iterator
for tickers in stock_ticker:
    print (tickers)

AAPL
MSFT
GOOGLE
None
AMZN
ORCL

In [13]:
#The ‘continue’ statement
for tickers in stock_ticker:
    if (tickers is None):
        continue
    print (tickers)

AAPL
MSFT
GOOGLE
AMZN
ORCL

In [14]:
#The ‘break’ statement
for tickers in stock_ticker:
    if (tickers is None):
        break
    print (tickers)

AAPL
MSFT
GOOGLE

The function ‘continue’ is used to continue the operation if the condition is met, while the ‘break’ operation is used to exit the loop.

# While Loop

In [15]:
temp = 100
while temp > 95:
    print (temp)
    temp = temp - 1

100
99
98
97
96

# Control Flow: Exception Handling

Handling Python errors or exceptions gracefully is an important part of building robust programs and algorithms. 

In data analysis applications, many functions only work on certain kinds of input.

Here in this example, we have created a function which accepts a number and returns the float value. 

It works fine for number values but the moment you pass a string value to the function it throws a value error. 

We can use a “try-except” block to handle the exception or error scenario. This helps to generate a graceful exit of the program or algorithm, as shown here.

In [16]:
def test_float(number):
    return float(number)

In [17]:
test_float(3.14563)

3.14563

In [18]:
#Pass wrong argument type 
test_float("test float")

ValueError: could not convert string to float: 'test float'

In [20]:
# Exception handling with try –except block
def test_float(number):
    try:
        return float(number)
    except ValueError:
        return 'not a number, the input value is ', number

In [21]:
#Pass wrong argument type 
test_float("test float")

('not a number, the input value is ', 'test float')