In [2]:
import sys
print(sys.version)

3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)]

In [5]:
import platform
platform.python_version()

'3.7.0'

In [8]:
print("Hello Python")
print(3)

Hello Python
3

In [13]:
x=123
y=2.1
z='test'
a='true'
print("type of variable : x , y & z is " ,type(x) , type(y) , type(z) ,type(a))

type of variable : x , y & z is  <class 'int'> <class 'float'> <class 'str'> <class 'str'>

In [15]:
print(x)
print(z)
print(type(x))
print(type(z))

3
test
<class 'int'>
<class 'str'>

In [17]:
test=2
test

2

In [18]:
test1 , test2 = 23 ,22
print(test1 , test2)

23 22

In [20]:
int_num=2.0/3
print(int_num)
int_num=6/3
print(int_num)

0.6666666666666666
2.0

In [24]:
x=True
print(type(x))

<class 'bool'>

In [29]:
float_x=34.3
print(float_x)
print(int(float_x))

print(str(float_x))

34.3
34
34.3

In [8]:
tup=("asd" , "www" , "wqa")
print(tup)
del(tup)
print(tup)

('asd', 'www', 'wqa')

NameError: name 'tup' is not defined

In [13]:
list1=[121 ,1211 ,'121' , '1sd']
print(list1)
list1.append(23)
print(list1)
list2=['sdsa','asdff']
list2.extend(list1)
print(list2)

[121, 1211, '121', '1sd']
[121, 1211, '121', '1sd', 23]
['sdsa', 'asdff', 121, 1211, '121', '1sd', 23]

In [26]:
list1.append([121,32,453])
list1

[121, 1211, '121', 29, '1sd', 23, [121, 32, 453]]

In [28]:
list1[6][1]

32

#### dict1={'name' : 'zara' , 'age' :23 , 'class': [1,2,3]}
print(dict1)
print(dict1.keys())
print(dict1.values())

In [42]:
dict1['name']
dict1['name']='kaya'
dict1['name']
print(len(dict1))
print(type(dict1))

3
<class 'dict'>

In [43]:
def my_fun(name):
    return name
print(my_fun("Sukruti"))

Sukruti

In [44]:
def ret(num1,num2):
    return (num1+num2)
num1=1
num2=29
res=ret(num1,num2)
print(res)

30

In [45]:
for pos,name in enumerate(list1):
    print(pos , name)

0 121
1 1211
2 121
3 29
4 1sd
5 23
6 [121, 32, 453]

In [47]:
sorted([23,122,1,12])

[1, 12, 23, 122]

In [48]:
age=21
if age>18:
    print('Adult')
else :
    print('Not Adult')

Adult

In [51]:
marks=70
if marks>90:
    print('grade A')
elif 80<marks<=90:
    print('grade B')
elif 70<marks<=80:
    print('grade c')
elif 60<marks<=70:
    print('grade D')
else:
    print('grade F')

grade D

In [52]:
for tic in list1:
    print(tic)

121
1211
121
29
1sd
23
[121, 32, 453]

In [61]:
list1[2]=121
list1
for tic in reversed(list1):
     print(tic)

[121, 32, 453]
23
1sd
29
121
1211
121

In [2]:
import numpy as np
dist=[12,22,1,3,4]
time=[2.5,1.0,2.0]
np_dist=np.array(dist)
np_time=np.array(time)
speed=np_dist/np_time

ValueError: operands could not be broadcast together with shapes (5,) (3,)