# Getting Started

Let’s create a basic Python Jupyter notebook as you can see here.

As you can see, it’s running as a web application at port 8888 on localhost. 

Let’s first import the sys module and verify the version of the downloaded Anaconda platform. 

You can also import the platform library to view the Python version.

Let’s try to create and print a test string. As we can see, the Python interpreter successfully generates the string output. 

You can also try out some basic mathematical operations, such as addition and multiplication, 
to test if the installation is working well.

In [1]:
import sys # import sys module

In [2]:
print (sys.version) # printing system version

3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)]

In [3]:
import platform # import platform library

In [4]:
platform.python_version()

'3.7.0'

Let's try a Hello World example

In [5]:
# Hello World example ------ Comment Line
print ('hello world') #test string

hello world

Testing number operation

In [6]:
print (3+5) #Test number operation

8

In [7]:
print (3*5)

15

# Assignment and Variables

A variable can be assigned or bound to any value. 

Always remember that the variable should appear on the left, followed by an ‘equals’ sign, and then the value itself. 

You can see that no matter what the data type of the assigned value is, be it integer, float, or string, 
you don’t need to separately specify the data type of the variable. The variable directly takes on the data 
type of the assigned value.

In [8]:
x = 3
print ("type of variable is = ", type(x))

type of variable is =  <class 'int'>

In [9]:
y = 2.1
print ("type of variable is = ", type(y))

type of variable is =  <class 'float'>

In [10]:
z = 'test'
print ("type of variable is = ", type(z))

type of variable is =  <class 'str'>

Let us look at an example to understand this better. Here, we are assigning a string and integer value to the 
two variables respectively. To print these variables, simply type print followed by the variable name. To view the 
data type of the variables, use the ‘print type’ method, and specify the variable names within the parentheses.

In [11]:
first_string_variable = 'test' # Assignment
first_integer_variable = 123

In [12]:
print (first_string_variable) #Variable data value
print (first_integer_variable)

test
123

In [13]:
print (type(first_string_variable)) #Data type of the object
print (type(first_integer_variable))

<class 'str'>
<class 'int'>

### Multiple Assignments

Now let’s see if you can access a variable without actually defining it.

As you can see, this throws an error. Let’s fix it by assigning a value to the variable. 
This proves that a variable can only be accessed if it is defined or has an assignment. 
You can also make multiple assignments simultaneously, as shown here. 
To view the variables, simply type their name.

In [14]:
number_example

NameError: name 'number_example' is not defined

In [15]:
number_example = 2 #Access variable after assignment
number_example

2

In [16]:
integer_x, integer_y = 5, 22 #Multiple assignments

In [17]:
print (integer_x)

5

In [18]:
print (integer_y)

22

# Basic Data Types: Integer and Float

You have looked at how variables can be assigned values. It’s time now to look at some basic data types in Python. The two main numeric Python types are integers and floats. Floats are decimal numbers; that’s how they are referred to in all programming languages. 

The size of the integer which can be stored as an int is dependent on your platform, whether it is 32 or 64-bit.

In [19]:
int_num = 7/2
print (int_num)

3.5

In [20]:
float_number = 7.0/2
print (float_number)

3.5

In [21]:
1/2

0.5

In [22]:
float(1/2)

0.5

In [23]:
1.0/2

0.5

In [24]:
1/2.0

0.5

In [25]:
float(1)/2

0.5

# Basic Data Types: String

Python has extremely powerful and flexible built-in string processing capabilities. 

There are multiple ways to create string objects. You can enclose them within single quotes, double quotes, or three double quotes. All three ways generate similar outputs.

In [26]:
string_one = 'first string' #With single quote
string_two = "second string" #With double quote
string_three = '''three string''' #Three single quotes
string_three1 = """three string""" #Three double quotes

In [27]:
print (string_one)
print (string_two)
print (string_three)
print (string_three1)

first string
second string
three string
three string

# Basic Data Types: None and Boolean

Python also supports the Null and Boolean data types.

None is the Python null value type. A null value is an empty value.

The two Boolean values in Python are written as ‘True’ and ‘False’. Comparisons and other conditional expressions evaluate to either True or False. 

Here in this example, a variable is assigned a value None. To check if the assignment occurred correctly, you can use the keyword ‘is’ as shown here. You can see that it returns a Boolean value, which is ‘True’ in this case. 

Now assign an integer value to the same variable and check it again, as shown. As expected, it returns ‘False’ this time.

In [28]:
num_x = None # Null values in python
num_x is None # Boolean type output

True

In [29]:
num_x = 10
num_x is None # Boolean type output

False

In [30]:
x = 'True'
type(x)

str

In [31]:
x = True
type(x)

bool

# Type Casting

You can also typecast a number from one data type to another. The str, int, and float types are functions which can be used to cast values to those types.

For example, let’s define a float as shown, and then print its data value. To cast this float value to an integer, use the ‘int’ function as shown here. You can see that it generates an integer output. 

Similarly, to cast the float value to string, use the “str” function and it will return a string output.

In [32]:
float_number = 3.14
print (float_number)

3.14

In [33]:
print (int(float_number))

3

In [34]:
print (str(float_number))

3.14

# Integer and Float

In [35]:
myage = 30
myeyes = "green"

In [36]:
print (myage + myeyes)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
print (str(myage) + myeyes)

30green

In [38]:
print (myage + int(myeyes))

ValueError: invalid literal for int() with base 10: 'green'

# String Examples

In [39]:
message ='Hello World'

In [40]:
message1 ='Hello ' + 'World'

In [41]:
print (message)
print (message1)

Hello World
Hello World

In [42]:
message2a = 'hello ' * 3
message2b = "world"

print (message2a + message2b)

hello hello hello world

In [43]:
message3 = 'howdy'
message3 += " "
message3 += 'world'
print (message3)

howdy world

In [44]:
message4 ='Hello' + ' ' + 'World'
print(len(message4))

11

In [45]:
message5 ='Hello World'
message5a = message5.find('W')

In [46]:
print (message5a)

6

In [47]:
message5 ='Hello World'
message5a = message5.find('z')
print (message5a)

#Value is not present the output will be -1.

-1

In [48]:
message6 ='Hello World'
message6a = message5.find('H')
print (message6a)

0

In [49]:
message7 ='HELLO WORLD'
message7a = message7.lower()
print(message7a)

hello world

In [50]:
message8 ='Hello World'
message8a = message8.replace('l', ' pizza ')
print (message8a)

He pizza  pizza o Wor pizza d

In [51]:
message9 ='Hello World'
message9a = message9[1:8] #[inclusive:exclusive]
print(message9a)

ello Wo

In [52]:
message9 ='Hello World'
startLoc = 1
endLoc = 8
message9b = message9[startLoc:endLoc] #[inclusive:exclusive]
print(message9b)

ello Wo

In [53]:
message9 ='Hello World'
print (message9[:5])
print (message9[:5].find('d'))

Hello
-1

In [54]:
message10 ='Hello World'
print (len(message10))
message10a = message10[0:15] #[inclusive:exclusive]
print(message10a)

11
Hello World

In [55]:
Str1 = 'SUPER'

We can use the index of an element to view and access it. To access elements with the help of positive indices, count from the left, starting with 0.

In [56]:
# positive indices

print (Str1[0])
print (Str1[1])
print (Str1[2])
print (Str1[3])
print (Str1[4])

S
U
P
E
R

You can also use negative indices by counting from the right, starting with -1. Negative indices are useful as they help you to easily refer to elements at the end.

In [57]:
# negative indices

print (Str1[-5])
print (Str1[-4])
print (Str1[-3])
print (Str1[-2])
print (Str1[-1])

S
U
P
E
R

In [58]:
print (Str1[-6])

IndexError: string index out of range